<section class="about-section section-featured section-lip row padding-top-60 padding-bottom-40" id="about">
  <div class="wired-circle"></div>
  <div class="container">
    <h2>About the Challenge</h2>
    <p>
      The main purpose of the Eclipse Software Defined Vehicle (SDV) Hackathon
      is to bring together automotive software enthusiasts that can experiment
      with the current SDV Tools, Blueprints, build exciting new features, play
      around with the technology and have fun while coding!
    </p>
    <p>
      You will be led through the two-and-a-half day coding marathon by our
      coaches from major OEMs, Tier 1 and automotive technology companies
      including CARIAD, Mercedes-Benz Tech Innovation, Bosch, ETAS,
      Continental, Microsoft, and more. Our experienced Hack Coaches will be
      guiding you through the two tracks: SDV Tooling and SDV Blueprints,
      helping you bring to life innovative use cases and features built on top
      of existing real-life automotive software projects.
    </p>
  </div>
</section>
