<section class="additional-info-section row dark section-featured section-lip">
  <div class="column-start col-md-12 bg-deep-violet padding-y-60 match-height-item-by-row">
    <div class="container-fluid">
      <h2 class="margin-bottom-60" id="why-attend">Why Attend?</h2>
      <ul class="margin-bottom-40 text-left">
        <li>
          Become the next superhero of the software defined vehicle of the
          future.
        </li>
        <li>
          Master new skills using automotive open source software.
        </li>
        <li>
          Have a direct impact on developing the larger automotive technology
          ecosystem that will define the future mobility!
        </li>
        <li>
          Race to the future of connected cars by coding!
        </li>
      </ul>
      <a class="btn btn-primary" href="https://sdvhackathon.eventbrite.com/">Apply Now</a>
    </div>
  </div>
  <div class="column-end col-md-12 bg-primary padding-y-60 match-height-item-by-row bg-ksu-purple margin-auto">
    <div class="container-fluid">
      <h2 class="margin-bottom-60" id="grand-prize">Grand Prize</h2>
      <p>
        Be bold and creative and race to win our super cool prizes ranging from
        cool tools and gadgets, prize money and branded SDV swag from us and
        our hackathon partners.
      </p>
      <p>
        More info on the prizes coming soon!
      </p>
    </div>
  </div>
  <div class="wired-circle"></div>
</section>
