<section class="hack-challenges-section section-featured row dark padding-top-40 padding-bottom-60 bg-american-purple">
  <div class="container">
    <h2 class="margin-bottom-60 text-center">Hack Challenges</h2>
    <div class="col-sm-10">
      <p>
        Explore the SDV Tooling Landscape – find the next creative use case of the
        Eclipse SDV Tooling projects to build the software of the future car
      </p>
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <p>
        Use current SDV Projects to contribute to the SDV Blueprints concepts and
        use cases
      </p>
    </div>
    <div class="col-xs-24 margin-top-60 text-left">
      <div class="row">

        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">DCO Challenge</strong>
            <p>
              Do you want to revolutionize the world of energy management?
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>Git</li>
              <li>Maven</li>
              <li>Java Spring Boot</li>
              <li>Next.js and React</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Fleet Management Challenge</strong>
            <p>
              Use your creativity to extend and improve our Fleet Management
              Blueprint
            </p>
            <p>Good to Know (but not mandatory):</p>
            <ul>
              <li>VSS (Vehicle Signal Specification)</li>
              <li>InfluxDB</li>
              <li>Grafana</li>
              <li>Docker Compose</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Maestro Challenge</strong>
            <p>
              If all the components in a vehicle would form an orchestra, would
              you be up to conducting it?
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">SeatAdjuster Challenge</strong>
            <p>
              Harness your creativity to enhance your Vehicle Application by
              expanding upon the SeatAdjuster example using Eclipse Velocitas.
            </p>
            <p>Good to Know (but not mandatory):</p>
            <ul>
              <li>Docker containers</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Hack the Car Challenge</strong>
            <p>
              You now have access to a real research vehicle. How are you going
              to use it?
            </p>
            <p>Recommended: Python or C++</p>
            <p>Other Options:</p>
            <ul>
              <li>C</li>
              <li>C#</li>
              <li>JavaScript</li>
              <li>Rust</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Closed Loop Driving Challenge</strong>
            <p>
              Using a Data Publisher and a Simulator, what cool autonomous
              driving algorithms would you create?
            </p>
            <p>Recommended: Python or C++</p>
            <p>Other Options:</p>
            <ul>
              <li>C</li>
              <li>C#</li>
              <li>JavaScript</li>
              <li>Rust</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Trace Debugging Challenge</strong>
            <p>
              Do you want to be the detective when it comes to the data exchanged
              in the vehicle?
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>C++</li>
              <li>CMake</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 margin-bottom-30">
          <div class="card bg-ksu-purple match-height-item-by-row">
            <strong class="text-primary" role="heading" aria-level="3">Muto Multi Agent Racer Challenge</strong>
            <p>
              Take ROS, F1Tenth and a race track and see where it all gets you!
            </p>
            <p>Prerequisites:</p>
            <ul>
              <li>Docker</li>
              <li>ROS and/or ROS2</li>
              <li>Python and/or C++</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
