/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../styles.less';

@bg-shadow: drop-shadow(0 0 5px #444);

.header-wrapper-subpages .nav-container {
    background-color: unset;
    filter: @bg-shadow;
}

.eclipsefdn-agenda, .eclipsefdn-agenda p {
    font-size: unset;
}

.header-community-day-2023 {
    .header-sdv-contribution-day-2022;
    .header-lisbon-2023;

    background-image: url('../images/pages/sdv-community-day-july-2023/sdv-community-day-july-2023-header-bg.jpg');

    .featured-jumbotron-title {
        color: @white;
        font-size: 4rem;

        &::after {
            margin: 0.5rem;
        }

        @media (min-width: @screen-sm-min) {
            font-size: 5rem;
        }
    }

    .featured-jumbotron-subtitle {
        font-size: 3rem;

        @media (min-width: @screen-sm-min) {
            font-size: 3.5rem;
        }
    }

    .jumbotron-custom {
        margin: 4rem 0;
        background: none;
        filter: @bg-shadow;
    }
}

