/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// @todo: These utility classes were copied over from Solstice Assets' Astro
// theme. They need to be made available from Quicksilver.

.font-size-lg {
  font-size: 1.8rem;
}

.bg-primary {
  background-color: @brand-primary;
}

.bg-secondary {
  background-color: @brand-secondary;
}

.bg-secondary-dark {
  background-color: @brand-secondary-dark;
}

.dark {
  color: @white;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: @white;
  }
}

.font-size-lg {
  font-size: @font-size-lg;
}

// Generates padding classes from 0 to 60px in horizontal direction
.generate-padding-x-classes(@index) when (@index <= 60) {
  .padding-x-@{index} {
    padding-left: @index * 1px;
    padding-right: @index * 1px;
  }
  
  .generate-padding-x-classes(@index + 10);
}

.generate-padding-x-classes(0);

.padding-x-auto {
  margin-left: auto;
  margin-right: auto;
}

// Generates padding classes from 0 to 60px in vertical direction
.generate-padding-y-classes(@index) when (@index <= 60) {
  .padding-y-@{index} {
    padding-top: @index * 1px;
    padding-bottom: @index * 1px;
  }
  
  .generate-padding-y-classes(@index + 10);
}

.generate-padding-y-classes(0);

