<div class="banner-heading">
    <div class="banner-heading-content">
      <h1 class="banner-heading-header">Information for Onsite Attendees</h1>
    </div>
    <img class="banner-heading-img" src="/images/sdv-contribution-day-sept-2022/t-systems-venue.jpg" alt="Image of the HQ of Deutsche Telekom AG" />
</div>