/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.featured-events .event-timeline {
  &::before {
    border-width: 1px;
  }

  .timeline-item {
    &::marker {
      content: '';
    }
  }

  .timeline-item-title {
    font-size: 18px;
  }

  .timeline-date {
    font-size: 16px;
  }
}

.featured-events.dark .event-timeline {
  &::before {
    border-color: @brand-primary;
  }

  .timeline-item {
    &::before {
      border: none;
      background-color: @brand-primary;
    }
    
  }

  .timeline-item,
  .timeline-date,
  .timeline-item-title {
    color: white;
  }
}

.event-timeline.event-timeline-right {
  &::before {
    left: 0;
  }
  
  .timeline-item {
    float: none;
    width: 100%;
    padding: 10px 10px 10px 30px;

    &::before {
      left: -1.25%;
    }
  }
}

@media (min-width: @screen-md-min) {
  .events-section .events-section-col:first-child {
    position: relative;

    .events-section-heading {
      position: absolute;
      top: calc(50% - (@font-size-h2 / 2));
    }
  }
}

.featured-events {
  min-height: 60rem;
  background: url('../images/pages/home/events-bg.png');
  background-color: #2a1540;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
